<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
 	<title>Security with Spring Boot</title>
 
 	<meta name="viewport" content="width=device-width, initial-scale=1"/>
 
 	<!-- NOTE ilker imports of Bootstrap and it's dependencies(jQuery, popper) -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
  	<!-- NOTE ilker if you want to use just the CSS of bootstrap, then you don't need to import JS part of bootstrap (below 3 lines) -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 </head>
 <body>
     <h1 style="color: green">Hello! This is Home Page!</h1>
     <h5 style="color: limeGreen">It is using Bootstrap 4 (instead of using basic CSS)!</h5>
     
	 <nav class="nav flex-column">
	  <a class="nav-link"          th:href="@{/public}">Go to Public Page - allowed to everyone, logged in or not</a>
	  <a class="nav-link"          th:href="@{/anonymous}">Go to Anonymous Page - should NOT be authenticated</a>
	  <a class="nav-link"          th:href="@{/admin}">Go to Admin Page</a>
	  <a class="nav-link"          th:href="@{/cats}">Go to Cats Page</a>
	  <a class="nav-link"          th:href="@{/dogs}">Go to Dogs Page</a>
	  <a class="nav-link"          th:href="@{/login}">Login here!</a>
	 </nav> 	 
	 
	 <br/>
	 
	 <!-- NOTE ilker sec:  is "thymeleaf security dialect" made available by including thymeleaf-extras-springsecurity5 dependency -->
	 <div sec:authorize="isAuthenticated()">
	 	Logged user: <span sec:authentication="name"></span>
	 	<br/>
	 	<!-- NOTE ilker, sec:authentication="principal.roles" does NOT exist -->
		Authorities: <span sec:authentication="principal.authorities"></span>
	 	<br/>	 
     	<form th:action="@{/logout}" method="post">
         <input type="submit" value="Sign Out"/>
     	</form>
     </div>
 </body>
</html>